/* Set black background color, white text and some padding */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
/* End Set black background color, white text and some padding */

/* properties for the main menu */
.nav-tabs{
  background-color:#f2f2f2;
}
.tab-content{
    background-color:#303136;
    color:#fff;
    padding:5px
}
.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}
/* end properties for the main menu */

/* icon to maximize card  and change cursor */
.oi.oi-fullscreen-enter { float: right; }
.oi.oi-fullscreen-enter:hover {cursor: pointer;}
/* end icon to maximize card  and change cursor */

