@(message: String, style: String = "scala") 

        <!-- Header and title -->
        <div class="jumbotron text-center">
            <h1>Products</h1>
            <p>This web app is done with play Scala - would like in the future to connect against hive and use websockets</p>
        </div>
        <!-- End Header and title -->

        <!-- Main menu -->
        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
        <!-- End main menu -->

        <!-- Filters and dashboards -->
        <div class="container-fluid">
            <div class="row">
                <!-- Filters on the left -->
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Remember me
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputExample4" class="col-sm-2 control-label">Text to search</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Text input" id="inputExample4">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputExample5" class="col-sm-2 control-label">Text to search</label>
                                        <div class="col-sm-10">
                                            <select multiple class="form-control" id="inputExample5">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-default">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file"></span>
                                    Orders
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="shopping-cart"></span>
                                    Products
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- End Filters on the left -->

                <!-- Dashboard - make up by different cards -->
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Dashboard</h1>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group mr-2">
                                <button class="btn btn-sm btn-outline-secondary">Share</button>
                                <button class="btn btn-sm btn-outline-secondary">Export</button>
                            </div>
                            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                                <span data-feather="calendar"></span>
                                This week
                            </button>
                        </div>
                    </div>

                    <!-- Definition of Dashboards -->
                    <h2>Section title</h2>
                    <div class="row">
                        <!-- Chart top left -->
                        <div class="col-sm">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                        </div>
                        <!-- End Chart top left -->

                        <!-- Chart top right -->
                        <div class="col-sm">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                        </div>
                        <!-- End Chart top right -->
                    </div>

                    <div class="row">
                        <!-- Chart bottom left -->
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Panel title</h5>
                                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                                    <a class="card-link">Card link</a>
                                    <a class="card-link">Another link</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Chart bottom left -->

                        <!-- Chart bottom right -->
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-header">
                                    Featured
                                    <span id="maxChart" class="oi oi-fullscreen-enter" title="fullscreen-enter" aria-hidden="true" data-toggle="modal" data-target="#exampleModalCenter"></span>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Panel title</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Panel subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                                    <p class="card-text"><canvas id="myChart"></canvas></p>
                                    <a class="card-link">Card link</a>
                                    <a class="card-link">Another link</a>
                                </div>
                            </div>

                            <!-- Zoom Chart bottom right -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <canvas id="myChart2"></canvas>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Zoom Chart bottom right -->
                        </div>
                        <!-- End Chart bottom right -->
                    </div>
                    <!-- End Definition of Dashboards -->
                </main>
                <!-- Dashboard - make up by different cards -->

            </div>
        </div>
        <!-- End filters and dashboards -->


<div id="content" class="wrapper doc">
<article>

    <h2>Count Controller</h2>

    <p>
        Both the HomeController and AsyncController are very simple, and typically controllers present the results of the interaction of several services.  As an example, see the <code>CountController</code>, which shows how to inject a component into a controller and use the component when handling requests.  The count controller increments every time you click on it, so keep clicking to see the numbers go up.
    </p>

    <p>
        <a href="@routes.CountController.count">Click here for the CountController action!</a>
    </p>

    <p>
        <a href="@routes.ProductController.show">Click here for the ProductController action!</a>
    </p>

    <p>
        <a href="@routes.ProductController.showJson">Click here for the ProductController serialize Json action!</a>
    </p>

    <p>
        <input type="button" value="Get Name" id="get_name" >
    </p>



</article>

</div>

        <!-- This is the footer -->
        <footer class="container-fluid text-center">
            <p>Footer Text</p>
        </footer>
        <!-- End of the footer -->

